@inherits LayoutComponentBase

<div class="page">
    <div class="row header">
        <Header />
    </div>
    <div class="row content">
        @Body
    </div>
    <div class="row footer">
        <Footer />
    </div>
</div>