@inherits LayoutComponentBase

<div class="page">
    <div class="header">
        <Header />
    </div>
    <div class="content">
        @Body
    </div>
    <div class="footer">
        <Footer />
    </div>
    <a href="#" aria-label="back to page top" onclick="window.scrollTo({ top: 0, behavior: 'smooth' });return false;">
        <div id="btn-back-to-top" class="back-to-top justify-content-center arrow-to-top-img">
            @* <i class="fa-arrow-up fa-2x"></i> *@
            @* <i class="fa fa-calendar" aria-hidden="true"></i> *@
        </div>
    </a>
    
</div>