<div class="container-wfull container-p-1 container-m-1">
        <div class="row">
            <div class="col-md-4 mb-3">
                <p class="footer-title">لیزینگ آلفا</p>
                <p>شرکت لیزینگ آلفا در تاریخ ۱۴ مهرماه ۱۳۸۲ به صورت شرکت سهامی خاص تاسیس شده و جزء واحدهای تجاری گروه صنعتی آلفا می‌باشد. فعالیت شرکت در چارچوب دستورالعمل اجرایی تاسیس و نظارت بر شرکت‌های لیزینگ مصوب بانک مرکزی جمهوری اسلامی می‌باشد.</p>
            </div>
            <div class="col-md-4 mb-3">
                <p class="footer-title">لینک‌های مرتبط</p>
                <a href="#" class="text-decoration-none footer-link d-block mb-2">بانک مرکزی جمهوری اسلامی ایران</a>
                <a href="#" class="text-decoration-none footer-link d-block mb-2">وزارت صمت جمهوری اسلامی ایران</a>
                <a href="#" class="text-decoration-none footer-link d-block mb-2">وزارت اقتصاد جمهوری اسلامی ایران</a>
                <a href="#" class="text-decoration-none footer-link d-block mb-2">سازمان برنامه و بودجه جمهوری اسلامی ایران</a>
            </div>
            <div class="col-md-4 mb-3">
                <p class="footer-title">ارتباط با ما</p>
                <p><strong>تلفن : </strong> <a href="tel:+982188891008" class="footer-link text-decoration-none">982188891008</a></p>
                <p><strong>ایمیل : </strong> <a href="mailto:info@joorak.com" class="footer-link text-decoration-none">info@joorak.com</a></p>
                <p><strong>آدرس : </strong>تهران، بلوار کشاورز، خیابان فلسطین شمالی، پلاک 475، طبقه 5، واحد 64</p>
                
            </div>
        </div>
    <hr class="divider" aria-hidden="true">
        <p class="copyright">کلیه حقوق این وبسایت برای شرکت لیزینگ آلفا محفوظ می‌باشد.</p>
</div>