@inject IJSRuntime _jsRuntime
@inject IHomeService _homeService
<div id="mapContainer" class="map-container w-100 h-100"></div>

@code {

    protected override async Task OnInitializedAsync()
    {
        try
        {

            List<CountriesTurnoverStat> mapData = new();
            var res = await _homeService.GetCountriesTurnover();
            if (!res.Successful) return;
            mapData = res.Items!.Where(i => i.LeasingVolume > 0).ToList();


            await _jsRuntime.InvokeVoidAsync("drawLeasingWorldMap", "mapContainer", mapData);
        }
        catch (Exception)
        {

            //await ErrorWrapper.ProcessError(ex);
        }

    }
}
