@* @inject AppDbContext DbContext *@

<div class="content-container">
    @foreach (var Message in MessagesList)
    {
        <div class="message-item">
            <i class="bi bi-trash text-danger" @onclick="() => DeleteMessage(Message.Id)"></i>
            <div>
                <div class="date">@Message.SentDate.ToString("yyyy/MM/dd")</div>
                <div class="title">@Message.Title</div>
                <div class="text">@Message.Content</div>
            </div>
        </div>
    }
</div>

@code {
    [Parameter]
    public List<Message> MessagesList { get; set; } = new List<Message>();

    protected override async Task OnInitializedAsync()
    {
        // بارگذاری اعلان‌ها از دیتابیس
        //MessagesList = await DbContext.Messages.ToListAsync();
        if (!MessagesList.Any())
        {
            // داده‌های پیش‌فرض در صورت خالی بودن دیتابیس
            MessagesList = new List<Message>
            {
                new Message { Id = new Guid(), SentDate = DateTime.Now.AddDays(-2), Title = "وضعیت درخواست شماره 1403/07/01-001", Content = "در انتظار انتخاب کالا" },
                new Message { Id = new Guid(), SentDate = DateTime.Now.AddDays(-1), Title = "درخواست شماره 1403/07/01-002 مرجع شما", Content = "درخواست مرجع شما" }
            };
        }
    }

    private async Task DeleteMessage(Guid id)
    {
        var Message = MessagesList.FirstOrDefault(n => n.Id == id);
        if (Message != null)
        {
            MessagesList.Remove(Message);
            //DbContext.Messages.Remove(Message);
            //await DbContext.SaveChangesAsync();
        }
    }
}