<div class="content-container">
    <div class="message-item">
        <i class="bi bi-trash text-danger"></i>
        <div>
            <div class="date">1ف0ی/1ی/19</div>
            <div class="title">وضعیت درخواست شماره 1ف0ی/1ی/ف-00V</div>
            <div class="text">در انتظار انتخاب کالا</div>
        </div>
    </div>
    <div class="message-item">
        <i class="bi bi-trash text-danger"></i>
        <div>
            <div class="date">1ف0ی/1ی/1ف</div>
            <div class="title">درخواست شماره 1ف0ی/1ی/ی-00P مرجع شما</div>
            <div class="text">درخواست مرجع شما</div>
        </div>
    </div>
</div>